{% extends 'project_modules/index.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Сменя пароля' %}
{%  endblock %}

{% block content %}
    {% trans 'Поменять пароль' as change_pass_trans %}
    <h2>{{ change_pass_trans }}</h2>
    <div class="center-content">
        <form method="post" action="{% url 'app_users:change_password' %}">
            {% include 'app_users/templates_for_include/login_register_form.html' with form=form%}
            <button type="submit" aria-label="{{ change_pass_trans }}" title="{{ change_pass_trans }}">{{ change_pass_trans }}</button>
        </form>
    </div>
{% endblock %}